.strong {
    font-weight: 600;
    font-size: 90%;
}

.important {
    color: #d00000;
    font-weight: 600;
}

.error {
    margin: 10px 0;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    color: #de222b;
    background-color: #ffcccc;
    border: 1px solid #f88888;
}

.error .message {
    color: black;
}