.container {
	position: relative;
	width: 100%;
}

.container input {
	width: 100%;
}

.list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-sm);
	background-color: var(--color-background);
	list-style: none;
}

.list li {
	margin: 0;
	padding: var(--spacing-sm);
	cursor: pointer;
}

.list li:hover {
	background: var(--color-background-header);
}

.list li.highlighted {
	background: var(--color-background-header);
}