.table {
    width: 100%;
    border-collapse: collapse;
}

.row:nth-child(odd) {
    background-color: #2a2a2a;
}

.row:hover {
    background: #454545;
}

.rankColumn {
    width: 4em;
    text-align: center;
}

.nameColumn {
    width: 20em;
    text-align: left;
}

.scoreColumn {
    width: 4em;
    text-align: right;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.highlighted {
    background-color: var(--color-highlight-bg);
    transition: background-color 0.5s ease-out;
}