.pageSelectorBox {
    font-size: .9em;
}

.pageButton {
    width: 1.5em;
    padding: .25em 0;
    margin: 0 .1em;
    border-radius: 8px;
    text-align: center;
    background: transparent;
}

.pageButton:hover {
    background: #454545;
    outline: solid 1px #fff3cc;
}

.pageButtonActive {
    background: #e64503;
    color: #fff;
    outline: solid 1px #888;
}

.pageSelectorBox input[type="number"] {
    font-size: inherit;
    width: 2.7em;
}