.paginationContainer {
	font-size: var(--font-size-sm);
}

.pageButton {
	width: 1.5em;
	padding: var(--spacing-xs) 0;
	margin: 0 .1em;
	border-radius: var(--border-radius-md);
	text-align: center;
	background: transparent;
}

.pageButton:hover:not(.pageButtonActive) {
	background: var(--color-background-header);
}

.pageButtonActive {
	background: var(--color-active);
	color: var(--color-active-fg);
}

.pageButton:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.pageOf {
	margin-left: var(--spacing-sm);
}

.pageOf input[type="text"] {
	font-size: var(--font-size-sm);
	width: 3em;
}