.pagination-container {
	font-size: var(--font-size-sm);
}

.page-button {
	width: 1.5em;
	margin: 0 .1em;
	padding: var(--spacing-xs) 0;
	border-radius: var(--border-radius-md);
	background: transparent;
	text-align: center;
}

.page-button:disabled {
	opacity: 0.25;
	cursor: not-allowed;
}

.page-button-active {
	background: var(--color-active);
	color: var(--color-active-fg);
}

.page-button:hover:not(.page-button-active) {
	background: var(--color-background-header);
}

.page-of {
	margin-left: var(--spacing-sm);
}

.page-input {
	width: 3em;
	font-size: var(--font-size-sm);
}