.card {
	background-color: var(--color-background-header);
	border-radius: var(--border-radius-md);
	padding: var(--spacing-md);
	/* border: 1px solid var(--color-border); */
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}