.switcher {
	position: relative;
	width: 3rem;
	height: 1.5rem;
	border: none;
	border-radius: 0.75rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.switcher:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px rgb(59 130 246 / 50%);
}

.light {
	background-color: #e64503;
}

.dark {
	background-color: #374151;
}

.slider {
	display: flex;
	position: absolute;
	top: 0.125rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
}

.slider-light {
	background-color: #f1f5f9;
	transform: translateX(0.125rem);
}

.slider-dark {
	background-color: #f1f5f9;
	transform: translateX(1.625rem);
}

.light .icon {
	color: #f97316;
}

.dark .icon {
	color: #64748b;
}