.not-found {
	text-align: center;
}

.not-found-text {
	margin-bottom: var(--spacing-md);
	text-align: left;
	line-height: 1.6em;
}

.highlighted-data {
	padding: var(--spacing-xs);
	border-radius: var(--border-radius-sm);
	background-color: rgb(255 243 204 / 15%);
	font-family: monospace;
}