.button {
	display: flex;
	height: 1.5rem;
	padding: 12px 8px;
	border: none;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: var(--color-text);
	transition: background-color 0.2s ease-out;
}

@media (hover: hover) {
	.button:hover {
		background: rgb(255 255 255 / 10%);
	}
}

.button:focus-visible {
	background: rgb(255 255 255 / 10%);
	outline: none;
}

.icon {
	display: flex;
	position: relative;
	width: 24px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
}

.icon-bar {
	display: block;
	width: 100%;
	height: 2px;
	background: var(--color-text);
}
