/* Grid shell container */
.app-shell {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	overflow: hidden;
}

/* Header */
.header {
	grid-row: 1;
	z-index: 100;
	background-color: var(--color-background-secondary);
	box-shadow: 0 2px var(--header-shadow-depth) rgb(0 0 0 / 20%);
	padding-top: env(safe-area-inset-top);
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	max-width: var(--max-width-content);
	margin: 0 auto;
	padding: 0.7rem 0.5rem;
}

/* Main container */
.main-container {
	grid-row: 2;
	position: relative;
	width: 100%;
	max-width: var(--max-width-content);
	margin: 0 auto;
	padding: 0 5px;
	overflow: hidden;
}

.content-wrapper {
	height: 100%;
	overflow-y: auto;
	padding: 0 7px max(1.5em, env(safe-area-inset-bottom)) 0;
}

.block-pointer-events {
	pointer-events: none;
}
