.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--color-background-header);
    z-index: 80;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.headerLeft {
    justify-self: start;
}

.header h2 {
    margin: 0;
    font-size: 1.25rem;
    justify-self: center;
}

.headerRight {
    justify-self: end;
}