.nav {
	position: relative;
}

.hamburger {
	display: flex;
	position: relative;
	top: auto;
	left: auto;
	height: 1.5rem;
	padding: 20px 8px;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	background: transparent;
	cursor: pointer;
}

.hamburger:hover {
	background: rgb(255 255 255 / 10%);
}

.icon {
	display: flex;
	position: relative;
	width: 24px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
}

.icon-bar {
	display: block;
	width: 100%;
	height: 2px;
	background: var(--color-text);
}

.menu-wrapper {
	position: fixed;
	top: calc(var(--header-height) + var(--header-shadow-depth));
	left: max(0px, calc((100vw - var(--max-width-content)) / 2));
	z-index: 90;
	width: var(--max-width-content);
	height: calc(100vh - var(--header-height) - var(--header-shadow-depth));
	overflow: hidden;
	pointer-events: none;
}

.menu {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	padding: 2rem;
	flex-direction: column;
	background: var(--color-background);
	transform: translateX(-100%);
	transition: transform 0.2s ease-out;
	pointer-events: auto;
	overflow-y: auto;
}

.menu.open {
	transform: translateX(0);
	box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
}

.menu-link {
	padding: 0.5rem;
	border-radius: 4px;
	font-size: 1.1rem;
}

.menu-link:hover {
	background: rgb(255 255 255 / 10%);
}

.links {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1rem;
}

.menu-footer {
	padding-top: 2rem;
	border-top: 1px solid rgb(255 255 255 / 10%);
	text-align: center;
}
