.button-tab-group {
	display: flex;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-sm);
	justify-content: center;
	background: var(--color-background-secondary);
}

.button-tab {
	padding: var(--spacing-xs) var(--spacing-sm);
	border: none;
	border-radius: var(--border-radius-sm);
	flex: 1;
	background: transparent;
	color: var(--color-text);
	font-weight: 500;

	/* transition: all 0.2s ease; */
	opacity: 0.7;
	cursor: pointer;
}

.button-tab:focus-visible {
	opacity: 1;
}

.button-tab:hover:not(.active) {
	background-color: var(--color-background-header);
}

.active {
	background: var(--color-active);
	color: var(--color-active-fg);
	opacity: 1;

	/* kludge to try to avoid edge gaps due to rounding */
	transform: scaleX(1.001);
}