.highlighted {
	scroll-margin-top: 3rem;
}

.table {
	width: 100%;
}

.row:hover {
	background: var(--color-cube-yellow-light);
}

.rank-column {
	width: 4em;
	text-align: center;
}

.name-column {
	width: 20em;
	text-align: left;
}

.score-column {
	width: 4em;
	text-align: right;
}

.link {
	color: inherit;
	text-decoration: none;
}

.table tr.highlighted {
	background-color: var(--color-background-header);
	transition: background-color 0.3s ease-out;
}
