.container {
	max-width: var(--max-width-content);
	margin: 0 auto;
	text-align: center;
}

.filters {
	display: flex;
	margin: var(--spacing-md) 0;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-md);
}

.filter-item {
	max-width: var(--max-width-controls);
	width: 100%;
}
