.card {
	display: flex;
	padding: var(--spacing-md);
	border: var(--border-subtle);
	border-radius: var(--border-radius-md);
	flex-direction: column;
	gap: var(--spacing-sm);
	background-color: var(--color-background-secondary);
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}